
/* adding style to adjust look aand feel of page*/

span.visted-text {
  display: inline-block;
  width: 70%;
}

form.visted-form{
  display: inline;
}

div.wishlist-place{
  margin: 20px;
}

label {
  display: inline-block;
  padding-right: 8px;
}

body{
  background-image: url('Experiences_Beach.jpg');
}
